doctype html 
html(lang="es") 
    header
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Text Properties
        link(rel="stylesheet", href="regional_styles.css")
    body
        header.hero
            h1.hero__title Title 
            h2.hero__subtitle Subtitle
        main.container
            article.container__section
                h3 Section Title
                p Text
                p Other text 
                figure 
                    img(src="", alt="") 
                p Second Text 
                p Second other text
                figure 
                    img(src="", alt="") 
                h3 Subsection title
                p Text example
            article 
            article 
            article  
