doctype html 
html(lang="es") 
    header
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Schema-01
        link(rel="stylesheet", href="schema-01.css")
    body
        .container 
            .container__flex
                head.hero
                    h1.hero__title Title 
                    h2.hero__subtitle Subtitle
                main.content
                    .content__section 
                    .content__section 
                    .content__section 
                    .content__section 
                footer 
                    a(href="") 
                        p @erwindevdesign    
                
                    